Servers/test/Connected Services/ServiceReference1/LetsGoBiking1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/MyService/LetsGoBiking?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Device.Location" />
  <xs:element name="GetBikingItinerary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Device.Location" minOccurs="0" name="originCoordinates" nillable="true" type="q1:GeoCoordinate" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Device.Location" minOccurs="0" name="destinationCoordinates" nillable="true" type="q2:GeoCoordinate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBikingItineraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBikingItineraryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoordinatesFromOpenStreetMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoordinatesFromOpenStreetMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Device.Location" minOccurs="0" name="GetCoordinatesFromOpenStreetMapResult" nillable="true" type="q3:ArrayOfGeoCoordinate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfBikeIsWorthUsing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Device.Location" minOccurs="0" name="originCoordinates" nillable="true" type="q4:GeoCoordinate" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Device.Location" minOccurs="0" name="destinationCoordinates" nillable="true" type="q5:GeoCoordinate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfBikeIsWorthUsingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIfBikeIsWorthUsingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>