Servers/test/Connected Services/ServiceReference1/LetsGoBiking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LetsGoBiking" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/MyService/LetsGoBiking?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/MyService/LetsGoBiking?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/MyService/LetsGoBiking?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Device.Location" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILetsGoBiking_GetBikingItinerary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBikingItinerary" />
  </wsdl:message>
  <wsdl:message name="ILetsGoBiking_GetBikingItinerary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBikingItineraryResponse" />
  </wsdl:message>
  <wsdl:message name="ILetsGoBiking_GetCoordinatesFromOpenStreetMap_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoordinatesFromOpenStreetMap" />
  </wsdl:message>
  <wsdl:message name="ILetsGoBiking_GetCoordinatesFromOpenStreetMap_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoordinatesFromOpenStreetMapResponse" />
  </wsdl:message>
  <wsdl:message name="ILetsGoBiking_CheckIfBikeIsWorthUsing_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfBikeIsWorthUsing" />
  </wsdl:message>
  <wsdl:message name="ILetsGoBiking_CheckIfBikeIsWorthUsing_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfBikeIsWorthUsingResponse" />
  </wsdl:message>
  <wsdl:portType name="ILetsGoBiking">
    <wsdl:operation name="GetBikingItinerary">
      <wsdl:input wsaw:Action="http://tempuri.org/ILetsGoBiking/GetBikingItinerary" message="tns:ILetsGoBiking_GetBikingItinerary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILetsGoBiking/GetBikingItineraryResponse" message="tns:ILetsGoBiking_GetBikingItinerary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoordinatesFromOpenStreetMap">
      <wsdl:input wsaw:Action="http://tempuri.org/ILetsGoBiking/GetCoordinatesFromOpenStreetMap" message="tns:ILetsGoBiking_GetCoordinatesFromOpenStreetMap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILetsGoBiking/GetCoordinatesFromOpenStreetMapResponse" message="tns:ILetsGoBiking_GetCoordinatesFromOpenStreetMap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfBikeIsWorthUsing">
      <wsdl:input wsaw:Action="http://tempuri.org/ILetsGoBiking/CheckIfBikeIsWorthUsing" message="tns:ILetsGoBiking_CheckIfBikeIsWorthUsing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILetsGoBiking/CheckIfBikeIsWorthUsingResponse" message="tns:ILetsGoBiking_CheckIfBikeIsWorthUsing_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILetsGoBiking" type="tns:ILetsGoBiking">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBikingItinerary">
      <soap:operation soapAction="http://tempuri.org/ILetsGoBiking/GetBikingItinerary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoordinatesFromOpenStreetMap">
      <soap:operation soapAction="http://tempuri.org/ILetsGoBiking/GetCoordinatesFromOpenStreetMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfBikeIsWorthUsing">
      <soap:operation soapAction="http://tempuri.org/ILetsGoBiking/CheckIfBikeIsWorthUsing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LetsGoBiking">
    <wsdl:port name="BasicHttpBinding_ILetsGoBiking" binding="tns:BasicHttpBinding_ILetsGoBiking">
      <soap:address location="http://localhost:8733/MyService/LetsGoBiking" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>